[Unit]
Description=OVMS v3 server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/openvehicles/v3/v3/server
ExecStart=/bin/sh -c 'exec ./ovms_server.pl >>/var/log/ovms_server.log 2>&1'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
